@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Matemasie&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Playwrite+DK+Loopet:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Jersey+10&family=Matemasie&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Playwrite+DK+Loopet:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Grey+Qo&family=Jersey+10&family=Matemasie&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Playwrite+DK+Loopet:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Grey+Qo&family=Jersey+10&family=Lora:ital,wght@0,400..700;1,400..700&family=Matemasie&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Playwrite+DK+Loopet:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Grey+Qo&family=Jersey+10&family=Lora:ital,wght@0,400..700;1,400..700&family=Matemasie&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Playwrite+DK+Loopet:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap');




#p1 {
    text-decoration-line: none ;
}

#p2 {
    text-decoration-line: underline ;
}

#p3 {
    text-decoration-line:  overline;
}

#p4 {
    text-decoration-line: line-through ;
}

#p5 {
    text-decoration-line: underline overline ;
}

#p6 {
    text-decoration-line: underline line-through;
}

#p7 {
    text-decoration-line: underline  overline line-through;
}

#p8 {
    text-decoration: underline overline line-through wavy rgb(26, 58, 173);
}

#p9 {
    text-decoration-line: underline overline;
    text-decoration-thickness: from-font ;
    font-size: 2rem;
}


#font1 {
    font-family: Matemasie, sans-serif;
}


#font2 {
    font-family: Edu VIC WA NT Beginner, serif;
}

#font3 {
    font-family: Lora, sans-serif;
}

#link2 {
    margin-left: 1250px;
    margin-top: -40px;
    color: white;
    width: 150px;
    height: 35px;
    border-radius: 15px;
    background-color: rgb(11, 58, 11);
    position: fixed;
}

#link2 a {
    text-decoration: none;
    color: white;
}

#link3 {
    margin-left: 1470px;
    margin-top: -40px;
    width: 150px;
    height: 35px;
    background-color: rgb(11, 58, 11);
    border-radius: 15px;
    position: fixed;
}

#link3 a {
    text-decoration: none;
    color: white;
}

nav {
    background-color: rgb(196, 189, 189);
    height: 60px;
    border-radius: 15px;
    position: fixed;
    width: 1670px;
}

#link2 a:hover {
    text-decoration: underline white;
}

#goa {
    color: black;
    margin-top: 20px;
    margin-left: 150px;
}

#link3 a:hover {
    text-decoration: underline;
}

#link2:hover {
    background-color: rgb(14, 129, 14);
    border-radius: 18px;
    transition: 0.5s;
}

#link3:hover {
    background-color: rgb(14, 129, 14);
    border-radius: 18px;
    transition: 0.5s;
}

#title {
    color: white;
    font-size: 50px;
    font-family: Roboto, 'Courier New', Courier, monospace;
}

#vd {
    width: 100%;
}

#come {
    color: rgb(212, 212, 212);
    font-size: 100px;
    margin-top: -1050px;
    margin-left: 100px;
    
}

#come:hover {
    width: 101%;
    transition: 0.5s;
}

#ph {
    margin-left: 150px;
}

#ph:hover {
    width: 45%;
    transition: 0.5s;
}

#escape {
    color: white;
    font-size: 50px;
    margin-left: 1000px;
    margin-top: -350px;
    font-family: Roboto, 'Courier New', Courier, monospace;
}

#ph1 {
    margin-top: 550px;
    margin-left: 900px;
}

#online {
    margin-top: -300px;
    margin-left: 250px;
    color: white;
    font-size: 60px;
    font-family: Roboto, 'Courier New', Courier, monospace;
}

#ph1:hover {
    width: 45%;
    transition: 0.5s;
}

#ph2 {
    margin-left: 150px;
    margin-top: 550px;
}

#ph2:hover {
    width: 45%;
    transition: 0.5s;
}

#chad {
    color: white;
    margin-left: 1000px;
    margin-top: -350px;
    font-size: 50px;
    font-family: Roboto, 'Courier New', Courier, monospace;
}

#subscribe {
    color: white;
    margin-top: 450px;
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#email {
    width: 850px;
    height: 70px;
    font-size: 20px;
    border-radius: 15px;
}

#submit {
    font-size: 20px;
    width: 200px;
    height: 70px;
    border-radius: 20px;
    background-color: rgb(126, 9, 9);
    color: white;
}

#icon {
    width: 4%;
    margin-left: 550px;
    cursor: pointer;
}

#icon:hover {
    width: 3%;
    transition: 0.5s;
}

#icon1 {
    margin-left: 450px;
    width: 4%;
    margin-top: -10px;
}

#icon1:hover {
    width: 3%;
    transition: 0.5s;
}

#icon2 {
    width: 4%;
    margin-top: -10px;
}

#icon2:hover {
    width: 3%;
    transition: 0.5s;
}

#bg {
    background-color: rgb(10, 48, 10);
}

#made {
    color: white;
    font-size: 20px;
}

#hello {
    text-shadow: 10px 6px;
}