@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Epilogue", serif;
}

header{
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    justify-content: space-between;
}

.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.back{
    width: 110px;
    height: 38px;
    color: hsl(0, 2%, 23%);
    font-size: 15px;
    font-weight: 600;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.5s;
}

.back:hover{
    color: black;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}


#read{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 100px;
}


.re{
    width: 15%;
    margin-left: 82.5px;
    box-shadow: 0 0 50px rgb(107, 105, 101);
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.re img{
    width: 100%;
    height: 100%;
}

.p{
    color: black;
    font-size: 30px;
    font-weight: 500;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}